@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
   font-family: "RalewayFont";
   src: url("../app/fonts/Raleway-VariableFont_wght.ttf") format("truetype");
   /* Add additional font formats if necessary */
   /* Specify the correct path to the font files */
}
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");

body {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
}
.slider-bg {
   background: linear-gradient(
      101.05deg,
      #1f8ebe -5.36%,
      #ffff00 29.46%,
      #958f04 56.03%,
      #98cd02 81.92%
   );
}
.join-community-bg {
   background: linear-gradient(
      90deg,
      #2d6aff 27.4%,
      #1400ff 48%,
      #2d6aff 69.9%
   );
}
* {
   font-family: "RalewayFont", sans-serif;
   font-style: normal;
   box-sizing: border-box;
}
.custom-scroll::-webkit-scrollbar {
   width: 5px;
   border-radius: 10px;
}

/* Track */
.custom-scroll::-webkit-scrollbar-track {
   background: #ffffff52;
   border-radius: 10px;
}

/* Handle */
.custom-scroll::-webkit-scrollbar-thumb {
   background: white;
   border-radius: 10px;
}

/* Handle on hover */
.custom-scroll::-webkit-scrollbar-thumb:hover {
   background: #555;
   border-radius: 10px;
}
.lemon-image-container {
   display: flex;
}

.invite-friend-button button {
   height: 60px;
   font-size: 24px;
}
@media screen and (max-height: 601px) {
   .lemon-image-container {
      display: none !important;
   }

   .invite-friend-button button {
      height: 40px !important;
      font-size: 16px !important;
   }
}
.yellow-dot {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   animation: pulse 1.5s infinite;
}

@keyframes pulse {
   0%,
   100% {
      width: 8px;
      height: 8px;
   }
   50% {
      width: 10px;
      height: 10px;
   }
}

.text-border {
   -webkit-text-stroke: 1px #2d6aff;
}
